.user-detail {
    display: grid;
    grid-template-columns: 140px 1fr;
    row-gap: 16px;
    column-gap: 24px;
    margin: 0;
}

.user-detail dt {
    font-weight: 600;
}

.user-detail dd {
    margin: 0;
}

.user-detail-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.user-detail-actions__right {
    display: flex;
    align-items: center;
    gap: 12px;
}
